<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laloosh.textmuse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/humanix_app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.ContactsPickerActivity"
            android:label="@string/title_activity_contacts_picker"
            android:parentActivityName=".ui.SelectMessageActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SelectMessageActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_main_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".ui.SelectMessageActivity"
            android:label="@string/title_activity_select_message"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.GroupEditActivity"
            android:label="@string/title_activity_group_edit"
            android:parentActivityName=".ui.ContactsPickerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ContactsPickerActivity" />
        </activity>
        <activity
            android:name=".ui.ContactOnlyPickerActivity"
            android:label="@string/title_activity_contact_only_picker"
            android:parentActivityName=".ui.GroupEditActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.GroupEditActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcastreceivers.AlarmReceivedBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="${applicationId}.alarmbroadcast.triggered" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastreceivers.BootTimeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.TextMuseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.RegistrationIntentService"
            android:exported="false"></service>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".ui.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".ui.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.WalkthroughActivity"
            android:label="@string/title_activity_walkthrough"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.SortableCategoryActivity"
            android:label="@string/title_activity_sortable_category"
            android:parentActivityName=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:parentActivityName=".ui.SelectMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SelectMessageActivity" />
        </activity>
        <activity
            android:name=".ui.SkinSelectActivity"
            android:label="@string/title_activity_skin_select" />
        <activity
            android:name=".ui.SavedTextsActivity"
            android:label="Saved Texts"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.AddEventActivity"
            android:label="Add Event"
            android:parentActivityName=".ui.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HomeActivity" />
        </activity>
        <activity android:name=".ui.GotBadgeActivity" />
        <activity
            android:name=".ui.MmsSendActivity"
            android:label="Customize Your Text"
            android:windowSoftInputMode="adjustResize" />

        <service android:name="com.android.mms.transaction.TransactionService" />

        <receiver android:name="com.klinker.android.send_message.MmsSentReceiver">
            <intent-filter>
                <action android:name="com.klinker.android.messaging.MMS_SENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>