<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laloosh.textmuse" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ContactsPickerActivity"
            android:label="@string/title_activity_contacts_picker"
            android:screenOrientation="portrait"
            android:parentActivityName=".SelectMessageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laloosh.textmuse.SelectMessageActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainCategoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main_category" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectMessageActivity"
            android:label="@string/title_activity_select_message"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainCategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laloosh.textmuse.MainCategoryActivity" />
        </activity>
        <activity
            android:name=".GroupEditActivity"
            android:label="@string/title_activity_group_edit"
            android:screenOrientation="portrait"
            android:parentActivityName=".ContactsPickerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laloosh.textmuse.ContactsPickerActivity" />
        </activity>
        <activity
            android:name=".ContactOnlyPickerActivity"
            android:label="@string/title_activity_contact_only_picker"
            android:screenOrientation="portrait"
            android:parentActivityName=".GroupEditActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laloosh.textmuse.GroupEditActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>
